* {
    padding: 0;
    /*padding 0, definição de todos os elementos irão começar com este valor*/
    margin: 0;
    /* margin 0, definição que toda margem terminaram com 0*/
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  
  }
  body{
    color: white;
  }

  .sobre-empresa{
    background-color: blueviolet;
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 30px;
    border: 2px solid red;
    
    
  }
  .bloco1{
    padding-top: 50px;
    background-color: blueviolet;
    
  }

  .imagem img{
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: blueviolet;
    border-radius: 50%;
  }
  .texto{
    text-align: center;
    font-size: 30px;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 60px;

  }