.card-zone {
  width: 1200px;

  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

#fundadores {
  width: 1200px;
  margin: auto;
  padding-top: 20px;


  text-align: center;
}

h3 {
  margin-top: 10px;


}

.ver-mais {
  height: 50px;

}

figure {
  height: 250px;

}

.nome {
  text-align: center;
  height: 80px;


}



.card {
  width: auto;
  height: 400px;
  background: #f3f5f9;
  margin: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}


a {
  color: #1264a3;
  cursor: pointer;
  text-decoration: none;



}